<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tic Tac Toe Game</title>
    <link th:href="@{/css/game.css}" rel="stylesheet">
</head>
<body>
<h1>Tic Tac Toe</h1>

<div>
    <div th:if="${stateDTO.gameOver}">
        <p th:if="${stateDTO.winnerFound}" th:text="${stateDTO.currentPlayer + ' wins!'}"></p>
        <p th:if="${!stateDTO.winnerFound}">It's a draw!</p>
        <a th:href="@{/game/new}">Start a new game</a>
    </div>

    <div th:if="${!stateDTO.gameOver}">
        <p>Current Player: <span th:text="${stateDTO.currentPlayer}"></span></p>
        <div class="game-board">
            <form th:action="@{/game/move}" method="post">
                <input type="hidden" name="gameId" th:value="${stateDTO.gameId}"/>
                <table>
                    <thead>
                    <tr>
                        <th></th>
                        <th th:each="colIndex : ${#numbers.sequence(0, stateDTO.size - 1)}"
                            th:text="${'A' + colIndex}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="rowIndex : ${#numbers.sequence(0, stateDTO.size - 1)}">
                        <th th:text="${rowIndex + 1}"></th>
                        <td th:each="colIndex : ${#numbers.sequence(0, stateDTO.size - 1)}">
                            <button type="submit"
                                    name="cell"
                                    th:value="${rowIndex + '_' + colIndex}"
                                    th:disabled="${stateDTO.board[rowIndex][colIndex] != '-'}"
                                    th:text="${stateDTO.board[rowIndex][colIndex] != '-' ? stateDTO.board[rowIndex][colIndex] : ''}">
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
</body>
</html>

