<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Game List</title>
    <link th:href="@{/css/game.css}" rel="stylesheet">
</head>
<body>
<h1>Active Games</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Player 1</th>
        <th>Player 2</th>
        <th>Game</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="game : ${games}">
        <td th:text="${game.id}"></td>
        <td th:text="${game.player1Name}"></td>
        <td th:text="${game.player2Name == 'Player' ? 'AI' : game.player2Name}"></td>
        <td>
            <a th:href="@{/game/{gameId}(gameId=${game.id})}">View game</a>
        </td>
    </tr>
    </tbody>
</table>

<div style="margin-top: 30px;">
    <form th:action="@{/game/new}" method="get" style="display: inline;">
        <input type="hidden" name="mode" value="HUMAN"/>
        <button type="submit" class="button">💁🏼 New Game vs Player</button>
    </form>

    <form th:action="@{/game/new}" method="get" style="display: inline; margin-left: 10px;">
        <input type="hidden" name="mode" value="AI"/>
        <button type="submit" class="button">🤖 New Game vs AI</button>
    </form>
</div>

</body>
</html>
