<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tic Tac Toe</title>
</head>
<body>
<h1>Tic Tac Toe Game</h1>
<div>
    <form th:action="@{/playerMove}" method="post">
        <table>
            <tr th:each="row : ${#numbers.sequence(0, board.size - 1)}">
                <td th:each="col : ${#numbers.sequence(0, board.size - 1)}">
                    <button type="submit" th:name="'rowcol-' + row + '-' + col"
                            th:value="${board.getCell(row, col)}"
                            th:disabled="${board.getCell(row, col) != '-'}">
                        <span th:text="${board.getCell(row, col)}"></span>
                    </button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
